@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500;1,700;1,900&display=swap');

:root { 
  --line-border-fill : #3498db ; 
  --line-border-empty : #e0e0e0 ;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f7fb;
  overflow: hidden ;

}

  .mainwrapper {
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
    height: 50vh; 
    width: 350px;   
    

  }

  .notDone , .done{ 
    border: 2px solid var(--line-border-fill);
    border-radius: 20px;
    color: #150E56;
    padding:40px;
    
  }
  
  .btn { 
    margin: 5px;
    padding: 4px 20px;
    border: none;
    background-color: var(--line-border-fill);
    border-radius: 5px ;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  i { 
    margin: 10px 0px ;
    color:var(--line-border-fill);

  }

  ul {
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  #getcourse { 
    margin:15px 0;
    padding:15px 10px;
    outline:none;
    border:1px solid #bbb;
    border-radius:20px;
  }

  #getcourse:focus { 
    border:2px solid cornflowerblue;
  }

  #addcourse {
    
      background-color: var(--line-border-fill);
      color: #fff;
      border:none ; 
      padding: 8px 30px;
      border-radius: 6px;
      font-family: inherit;
      font-size: 14px;
      cursor: pointer;
      margin: 5px;
    
  }
  #addcourse:hover , .btn:hover {
    background-color:#61afe2;

  }